@import "variables";

.container {
  max-width: min(#{$xs}, 100%);
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $sm) and (max-width: $md) {
    max-width: min(#{$sm}, 100%);
  }
  @media screen and (min-width: $md) {
    max-width: min(#{$md}, 100%);
  }
}
